<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <display-name>Protorabbit Test</display-name>
  
     <context-param>
       <description>For Jetty to do redirects</description>
       <param-name>org.mortbay.jetty.servlet.Default.redirectWelcome</param-name>
       <param-value>true</param-value>
     </context-param>

     <context-param>
      <description> Template Definitions - Order only matters in that the templates further
       to the left will override properties defined to those to the right.</description>
      <param-name>prt-templates</param-name>
      <param-value>/WEB-INF/last.json, /WEB-INF/templates.json,/resources/blueprint/blueprint-templates.json,/resources/yahoo/yahoo-templates.json, /WEB-INF/private/private-template.json</param-value>
    </context-param>

        <context-param>
        <description>Action (hop) definitions
        </description>
        <param-name>prt-communicator-search-packages</param-name>
        <param-value>
           org.protorabbit.communicator.test
        </param-value>
    </context-param>

   <context-param>
      <description>Turn on development mode. Files will reload on save in this mode.</description>
      <param-name>prt-dev-mode</param-name>
      <param-value>true</param-value>
    </context-param>

    <servlet>
        <servlet-name>ProtoRabbit Servlet</servlet-name>
        <servlet-class>org.protorabbit.servlet.ProtoRabbitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProtoRabbit Servlet</servlet-name>
        <url-pattern>/prt/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProtoRabbit Servlet</servlet-name>
        <url-pattern>*.prt</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProtoRabbit Servlet</servlet-name>
        <url-pattern>/prt</url-pattern>
    </servlet-mapping>
    
    <!--  Communicator -->
      <display-name>communicator</display-name>
      <servlet>
        <servlet-name>Communicator Servlet</servlet-name>
        <servlet-class>org.protorabbit.communicator.CommunicatorServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
      </servlet>
      <servlet-mapping>
        <servlet-name>Communicator Servlet</servlet-name>
        <url-pattern>*.hop</url-pattern>
      </servlet-mapping>
      
          <!--  PubSub -->
      <display-name>PubSub</display-name>
      <servlet>
        <servlet-name>PubSub Servlet</servlet-name>
        <servlet-class>org.protorabbit.communicator.PubSubServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
      </servlet>
      <servlet-mapping>
        <servlet-name>PubSub Servlet</servlet-name>
        <url-pattern>/jcom</url-pattern>
      </servlet-mapping>

    <listener>
        <listener-class>org.protorabbit.stats.impl.StatsManager
        </listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>/welcome.prt</welcome-file>
    </welcome-file-list>

</web-app>