<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title><% insert('title') %></title>
    <% includeResources('styles') %>
</head>

<body>


<div class="container"> 
    
    <div class="block">
        <div class="column span-24">
            <div>
                <h1><% insert('title') %></h1>
            </div>
            <% include('header') %>
        </div>
    </div>
    
    <div class="block">
        <div class="column span-18 colborder">
          
          <% include('body') %>

        </div>

        <div class="column span-5 last">
        
             <% include('sidebar') %>
             
        </div>
    </div>

</div>
   <% includeResources('scripts') %>
</body>
</html>
